<div>
  <div class="course__new-input">
    <label>Program Code:
      <input [(ngModel)]="course.programCode" type="text" />
    </label>
  </div>
  <div class="course__new-input">
    <label>Course Code:
      <input [(ngModel)]="course.courseCode" type="text"/>
    </label>
  </div>
  <div class="course__new-input">
    <label>Year:
      <input [(ngModel)]="course.year" type="number" />
    </label>
  </div>
  <div class="course__new-input">
    <label>Semester:
      <input [(ngModel)]="course.semester" type="number"/>
    </label>
  </div>
  <div>
    <div *ngIf="course.courseId" class="course__new-button">
      <button (click)="submit()">Update</button>
      <button (click)="delete()">Delete</button>
      <button (click)="toggleAssignments()">{{showAssignments ? "Hide" : "Show"}} Assignments</button>
    </div>
    <div *ngIf="!course.courseId" class="course__new-button">
      <button (click)="submit()">Create</button>
    </div>
  </div>
  <div *ngIf="showAssignments && course.assignments">
    <div class="course__view-title">
      <p>Assignments</p>
    </div>
    <div *ngFor="let assignment of course.assignments">
      <app-assignment [assignment]="assignment" (assignmentChange)="updateAssignment(assignment, $event)"></app-assignment>
      <hr />
    </div>
    <div class="course__new-button">
      <button (click)="addAssignment()">Add Assignment</button>
    </div>
  </div>
</div>