@import '../../../../variables';

.test {
    width: 100%;
    height: auto;
    min-height: 100vh;
    border-top: 30%;
    padding-top: 5vh;
    padding-left: 6vw;
    padding-right: 3vw;

    &__graphic {

        &-image {
            position: fixed;
            left: 25%;
            bottom: 0px;
            padding: 30pt;
        }

    }

    &__launch {

        button {
            border: 0px;
            border-radius: 6px;
            height: auto;
            padding: 14px;
            margin: 15px;
            width: 20%;
            position: relative;
            float: right;
            background: #1A5C80;
            color: $color-primary-white;
        }

    }

    &__jobs {
        
        &-title {
            clear: both;
            font-weight: bold;
            color: $color-text-black;
            font-size: 22px;
            position: relative;
            width: 100%;
            margin-bottom:0px;
            padding-top: 20px;
        }

        &-subtitle {
            clear: both;
            font-weight: bold;
            color: $color-text-black;
            font-size: 17px;
            position: relative;
            width: 100%;
            margin-bottom:0px;
        }

        &-input {
            margin: 20px;

            label {
                display: block;
                font-family: "SF Pro Text";
                font-size: 17px;
                line-height: 22px;
                color: $color-text-black;
                font-weight: bold;
                margin: 4px;
            }

            input {
                clear: both;
                display: inline;
            }
        }

        &-textbox {
            margin: 20px;

            label {
                display: block;
                font-family: "SF Pro Text";
                font-size: 17px;
                line-height: 22px;
                color: $color-text-black;
                font-weight: bold;
                margin: 4px;
            }

            input {
                clear: both;
                display: inline;
                clear: both;
                display: inline;
                background: $color-primary-white;
                border: 0px;
                border-radius: 6px;
                padding: 14px;
            }

        }

    }

}