@import '../../../../variables';

.vs {
  width: 100%;
  height: auto;
  min-height: 100%;
  border-top: 30%;
  padding-top: 5vh;
  padding-left: 6vw;
  padding-right: 3vw;

  &__header {
    clear: both;
    font-weight: bold;
    color: $color-text-black;
    font-size: 22px;
    position: relative;
    width: 100%;
    margin-bottom: 0px;
    padding-top: 20px;
  }

  &__input {
    float: left;
    margin: 20px;
    width: 15%;

    label {
      display: block;
      font-family: 'SF Pro Text';
      font-size: 17px;
      line-height: 22px;
      color: $color-text-black;
      font-weight: bold;
      margin: 4px;
    }

    select {
      display: block;
      background: $color-primary-white;
      border: 0px;
      border-radius: 6px;
      height: auto;
      min-width: 50%;
      padding: 14px;
      width: 95%;
    }

    input {
      clear: both;
      display: inline;
    }
  }
}
