.result {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
  
  &__title {
    padding-top: 20px;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
  }

  &__course-info {
    font-size: 1.5em;
    font-weight: bold;
  }

  &__container {
    width: 100%;
  }

  &__name-selected {
    &:hover {
      background-color: whitesmoke;
      cursor: pointer;
      user-select: none;
    }
  }

  &__name {
    width: 100%;
    height: 100%;
    display: block;
    padding-left: 10px;

    &:hover {
      background-color: whitesmoke;
      cursor: pointer;
      user-select: none;
    }
  }

  &__names-list {
    width: 100%;
  }

  &__names-container {
    display: list-item;
    overflow: hidden;
    margin-bottom: 10px;
    border: solid 1px gray;
  }

  &__scroll-box
    {
      overflow: scroll;
      width: 50%;
    }

  &__match {
    width: 100%;
    border-bottom: solid 1px gray;
    
    &--filename {
      font-weight: bold;
      text-align: center;
    }

    &--container {
      display: flex;
      max-height: 500px;
      transition: max-height 0.4s ease;
    }

    &--box {
      background-color: white;
      padding-left: 10px;
      width: fit-content;
      min-width: 100%;
    }

    pre {
      margin-bottom: 0px;
      overflow-x: hidden;
      background-color: whitesmoke;
    }
  }

  .result__header {
    background-color: white;
    line-height: 3em;
    vertical-align: middle;
    padding-left: 25px;
    font-weight: bold;
    border-bottom: solid 1px gray;
    
    display: flex;
    justify-content: space-between;
    padding-right: 25px;

    &:hover {
      background-color: whitesmoke;
      cursor: pointer;
    }
  }

  .result__not_available {
    background-color: white;
    line-height: 3em;
    vertical-align: middle;
    padding-left: 25px;
    font-weight: bold;
    border-bottom: solid 1px gray;
  }
}

.hidden {
  transition: max-height 0.4s ease;
  max-height: 0px;
}

.highlighted {
  background-color: rgba(255, 0, 0, 0.2) !important;
}
