.result{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;

    &__title{
        padding-top: 20px;
        font-size: 2em;
        font-weight: bold;
    }

    &__container{
        width: 100%;
    }

    &__match{
        width: 100%;
        margin-bottom: 10px;
        &--box{
            width: 50%;
            height: 300px;
            overflow: scroll;
            background-color: white;
            padding: 10px;
        }

        &--left{
            float: left;
            
        }

        &--right{
            float: right;
        }

        pre{
            margin-bottom: 0px;
        }
    }
}

.highlighted{
    background-color: rgba(255,0,0,0.2)
}