.result{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;


    &__container{
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }

    &__match{
        width: 100%;
        margin-bottom: 10px;

        &--left{
            float: left;
            width: 50%;
            height: 300px;
            overflow: scroll;
        }

        &--right{
            float: right;
            width: 50%;
            height: 300px;
            overflow: scroll;
        }
        pre{
            margin-bottom: 0px;
        }
    }
}
