<div class="app-package package">
  <div class="package__graphic">
    <img class="package__graphic-image" src="../../../../assets/uploadGuy.svg" />
  </div>
  <div class="package__jobs">
  <p class="package__jobs-title">New Hook Job</p>
  <p class="package__jobs-subtitle">Assignments to be Processed:</p>
  </div>
  <form [formGroup]="packageForm" class="package__jobs-form">
    <div class="package__jobs-input">
      <div class="form-group">
        <label>Current Year</label>
        <select class="form-control" formControlName="year" [(ngModel)]="selectedYear" (change)="yearUpdate()">
          <option *ngFor="let course of courses | unique:'year'" value={{course.year}}>{{course.year}}</option>
        </select>
      </div>
    </div>
    <div class="package__jobs-input" *ngIf="selectedYear">
      <div class="form-group">
        <label>Semester</label>
        <select class="form-control" formControlName="semester" [(ngModel)]="selectedSemester" (change)="semesterUpdate()">
          <option [value]='0'>Fall</option>
          <option [value]='1'>Winter</option>
          <option [value]='2'>Summer</option>
        </select>
      </div>
    </div>
    <div class="package__jobs-input" *ngIf="selectedSemester">
      <div class="form-group">
        <label>Program Code</label>
        <select class="form-control" formControlName="program" [(ngModel)]="selectedProgramCode" (change)="programUpdate()">
            <option *ngFor="let course of filteredSemCourses | unique:'programCode'" value={{course.programCode}}>{{course.programCode}}</option>
        </select>
      </div>
    </div>
    <div class="package__jobs-input" *ngIf="selectedProgramCode">
      <div class="form-group">
        <label>Course Code</label>
        <select class="form-control" formControlName="course" [(ngModel)]="selectedCourseCode" (change)="updateAssignments()">
            <option *ngFor="let course of filteredProgramCourses | unique:'courseCode'" value={{course.courseCode}}>{{course.courseCode}}</option>
        </select>
      </div>
    </div>
    <div class="package__jobs-input" *ngIf="selectedCourse">
      <div class="form-group">
        <label>Assignment</label>
        <select class="form-control" formControlName="assignment" [(ngModel)]="selectedAssignmentId" (change)="selectAssignment()">
            <option *ngFor="let assignment of selectedCourse.assignments" value={{assignment.assignmentId}}>{{assignment.name}}</option>
        </select>
      </div>
    </div>
  </form>
  <p class="package__jobs-subtitle">Previous Years Submissions</p>
  <hr/>
  <div class="supporting">
    <div *ngIf="selectedAssignment">
      <div class="supporting__doc" *ngFor="let assignment of supportingAssignments">
        {{assignment.course.year}} - {{assignment.course.programCode}} {{assignment.course.courseCode}} : {{assignment.name}}
        <button class="supporting__doc-remove" id="0" (click)="removeSupportingAssignment(assignment)">-</button>
      </div>
    </div>
    <div *ngIf="!addAssignment && selectedAssignment">
      <button class="supporting__doc-add" (click)="addSupporting()">+</button>
    </div>
    <div class="supporting__adding" *ngIf="addAssignment">
      <div class="package__jobs-input">
        <div class="form-group">
          <label>Select year</label>
          <select [(ngModel)]="selectedSupportYear" (change)="supportYearUpdate()">
            <option [value]="course.year" *ngFor="let course of courses | unique:'year'">{{course.year}}</option>
          </select>
        </div>
      </div>
      <div class="package__jobs-input" *ngIf="selectedSupportYear">
        <div class="form-group">
          <label>Select semester</label>
          <select [(ngModel)]="selectedSupportSemester" (change)="supportSemesterUpdate()">
            <option [value]='0'>Fall</option>
            <option [value]='1'>Winter</option>
            <option [value]='2'>Summer</option>
          </select>
        </div>
      </div>
      <div class="package__jobs-input" *ngIf="selectedSupportSemester">
        <div class="form-group">
          <label>Select program</label>
          <select [(ngModel)]="selectedSupportProgramCode" (change)="supportProgramUpdate()">
            <option [value]="course.programCode" *ngFor="let course of filteredSupportSemCourses | unique:'programCode'">{{course.programCode}}</option>
          </select>
        </div>
      </div>
      <div class="package__jobs-input" *ngIf="selectedSupportProgramCode">
        <div class="form-group">
          <label>Select course</label>
          <select [(ngModel)]="selectedSupportCourseCode" (change)="supportSelectCourse()">
            <option [value]="course.courseCode" *ngFor="let course of filteredSupportProgramCourses | unique:'courseCode'">{{course.courseCode}}</option>
          </select>
        </div>
      </div>
      <div class="package__jobs-input" *ngIf="supportingCourse">
        <div class="form-group">
          <label>Select assignment</label>
          <select [(ngModel)]="supportingAssignmentId" (change)="supportSelectAssignment()">
            <option [value]="assignment.assignmentId" *ngFor="let assignment of supportingCourse.assignments">{{assignment.name}}</option>
          </select>
        </div>
      </div>
      <div *ngIf="supportingAssignment">
        <button class="supporting__doc-submit" (click)="addSupportingAssignment()">✓</button>
      </div>
    </div>
  </div>
  <p class="package__jobs-subtitle">Exclusions</p>
  <hr/>
  <div class="package__exclusions">
    <div class="existing-files">
      <div *ngFor="let file of files">
        {{file.name}} <span (click)="removeFile(file)" style="color: red;">X</span>
      </div>
    </div>
    <div class="dropzone" [class.hover]="fileHover">
      <img class="dropzone__image" src="../../../../assets/cloud_upload.png" />
      <p class="dropzone__text">Drag file here to upload!</p>
    </div>
  </div>
  <div class="package__launch">
    <button (click)="submit()">LAUNCH</button>
  </div>
</div>