// Colors

$color-text-black: #333333;
$color-background: #EDEDED;

$color-primary-white: #FFFFFF;

$color-main-gradient: linear-gradient(191.77deg, #00072D 0%, #1A5C80 100%);

$color-primary-blue: #1A5C80; //This is also the color for accessible links
$color-primary-light-grey: #C6D4DD;

$color-secondary-green: #00C48C;
$color-secondary-red: #FF647C;
$color-secondary-yellow: #FFCF5C; //This shows up to the left of the selected menu item in the nav bar