<div class="app-assignment assignment">
  <div class="assignment__new-inputLarge">
    <label>Assignment Name:</label>
    <input [(ngModel)]="assignment.name" type="text"/>
  </div>
  <div class="assignment__new-input">
    <label>Open Date:</label>
    <input [(ngModel)]="assignment.openDate" type="datetime-local"/>
  </div>
  <div class="assignment__new-input">
    <label>Close Date:</label>
    <input [(ngModel)]="assignment.closeDate" type="datetime-local"/>
  </div>
  <div>
    <button class="assignment__new-remove" (click)="delete()">-</button>
    <button class="assignment__new-remove" (click)="update()">Update/Create</button>
  </div>
</div>