.sd {
  background-color: white;
  width: 90%;
  clear: both;

  &__student-list {
    width: 30%;
    float: left;
    background-color: whitesmoke;
    height: 80vh;

    tr {
      &:hover {
        cursor: pointer;
      }
    }
    div {
      padding: 5px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__back {
    font-weight: bold;
  }

  .selected {
    background-color: gainsboro;
  }

  &__cell-left {
    padding-left: 5px;
  }

  &__cell-right {
    padding-right: 5px;
    text-align: center;
  }
  &__file {
    padding: 5px;
    width: 70%;
    float: right;
    height: 80vh;
    overflow: scroll;
    background-color: white;

    pre {
      overflow: initial;
      margin-bottom: 0px;
    }
  }
}
