<div class="app-course course">
  <div class="course__graphic">
      <img class="course__graphic-image" src="../../../../assets/addNewCourse.svg"/>
  </div>
  <div class="course__view-title">
      <p class="course__view-title">Add New Course</p>
  </div>
  <form [formGroup]="newCourseForm" class="course__add-form">
    <div class="course__new-input">
      <div class="form-group">
        <label>Year</label>
        <select class="form-control" formControlName="year">
            <option [value]="2019">2019</option>
            <option [value]="2020">2020</option>
        </select>
      </div>
    </div>
    <div class="course__new-input">
      <div class="form-group">
        <label>Semester</label>
        <select class="form-control" formControlName="semester">
          <option [value]="0">Fall</option>
          <option [value]="1">Winter</option>
          <option [value]="2">Summer</option>
        </select>
      </div>
    </div>
    <div class="course__new-input">
      <div class="form-group">
        <label>Program Code</label>
        <input type="text" class="form-control" formControlName="program"/>
      </div>
    </div>
    <div class="course__new-input">
      <div class="form-group">
        <label>Course Code</label>
        <input type="text" class="form-control" formControlName="course"/>
      </div>
    </div>
    <!-- <div *ngFor="let item of items"> -->
      <div class="course__new-inputLarge">
        <div class="form-group">
          <label>Assignment Name</label>
          <input type="text" class="form-control" formControlName="assignment"/>
        </div>
      </div>
      <div class="course__new-inputDate">
        <div class="form-group">
          <label>Open Date</label>
          <input type="datetime-local" class="form-control" formControlName="openDate"/>
        </div>
      </div>
      <div class="course__new-inputDate">
        <div class="form-group">
          <label>Close Date</label>
          <input type="datetime-local" class="form-control" formControlName="closeDate"/>
        </div>
      </div>
      <div>
        <button class="course__new-inputAdd">+</button>
        <button class="course__new-inputRemove">-</button>
      </div>
      <div>
          <button class="course__new-inputCreate">CREATE</button>
        </div>
    <!-- </div> -->
  </form>
</div>


<!-- <app-course-detail [course]="course" (courseChange)="updateCourse(course, $event)"></app-course-detail>
<hr /> -->
