<div class="app-navbar">
  <div class="app-navbar__icon-band">
    <span
      class="fas fa-bars app-navbar__icon"
      (click)="toggleNavigation()"
    ></span>
  </div>
  <div class="app-navbar__navigation navigation">
    <div class="navigation__image-container">
      <img class="navigation__image" src="../../../../assets/Logo.png" />
    </div>
    <div class="navigation__routes routes">
      <div class="routes__section">
        <div class="routes__header">
          COURSES
        </div>
        <div class="routes__option">
          <a routerLink="/courses" routerLinkActive="active">Current Courses</a>
        </div>
        <div class="routes__option">
          <a routerLink="/search" routerLinkActive="active">Search Courses</a>
        </div>
        <div class="routes__option">
          <a routerLink="/newcourse" routerLinkActive="active">New Course</a>
        </div>
      </div>
      <div class="routes__section">
        <div class="routes__header">
          SUBMISSIONS
        </div>
        <div class="routes__option">
          <a routerLink="/submissions" routerLinkActive="active">
            View Submissions
          </a>
        </div>
        <div class="routes__option">
          <a routerLink="/upload" routerLinkActive="active">Upload</a>
        </div>
      </div>
      <div class="routes__section">
        <div class="routes__header">
          HOOK JOBS
        </div>
        <div class="routes__option">
          <a routerLink="/package" routerLinkActive="active">New Hook Job</a>
        </div>
        <div class="routes__option">
          <a routerLink="/results" routerLinkActive="active">View Results</a>
        </div>
      </div>
      <div class="routes__section">
        <div class="routes__header">
          ACCOUNT
        </div>
        <div class="routes__option">
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
